Package: com.archiverxp.maryts
Name: MaryTS
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Allison
Author: Allison
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
